<div id="footer-container">
  <div class="container">
    <div class="row row-title">
      <div class="col-sm">
        <div class="column-title">Group'Meals</div>
      </div>
      <div class="col-sm">
        <div class="column-title">Support</div>
      </div>
      <div class="col-sm">
        <div class="column-title">L'école</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a href="#">A propos</a>
        <a href="#">Restaurants partenaires</a>
        <a href="#">Livraison</a>
      </div>
      <div class="col-sm">
        <a href="#">Aide</a>
        <a href="#">Contact</a>
      </div>
      <div class="col-sm">
        <a href="#">Ynov</a>
        <a href="#">Réseau</a>
      </div>
    </div>
  </div>
</div>