#navbar-container {
  padding: 8px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: linear-gradient(155deg, #23b2a4 70%, #1cb3ce 100%);
  box-shadow: 0 2px 1px rgba(0,0,0,0.33);
}

a {
  font-weight: bold;
  margin-top: 3px;
  margin-left: 32px;
  font-size: larger;
  height: 41px;
}

img {
  max-height: 100%;
}

button {
  margin: 0 4px;
}

#user-info-group {
  padding: 5px 0;
}

#user-info-group > span {
  color: white;
}

#username {
  font-weight: bold;
}

#logout-icon {
  color: white;
}