<div id="navbar-container">
  <a id="logo-link" [routerLink]="['/']"><img src="../../assets/images/logo_groupmeals.png" class="img-fluid"
      alt="Group'Meals"></a>
  <div id="signin-button-group" *ngIf="!currentUser; else userInfo">
    <button type="button" class="btn btn-primary" [routerLink]="['/register']">S'inscrire</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Se connecter</button>
  </div>
</div>

<ng-template #userInfo>
  <div id="user-info-group">
    <i id="user-icon" class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
    <span>Bienvenue, </span>
    <a id="username" [routerLink]="['/profil']">{{currentUser?.username}}</a>
    <span>. </span>
    <i id="logout-icon" class="fa fa-power-off fa-lg" aria-hidden="true" (click)="logout()"></i>
  </div>
</ng-template>