#card-container {
  margin: 16px 0;
}

.card-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.restaurant-image {
  display: inline-block;
  margin: 8px;
}

.badge {
  margin-right: 4px;
}