<div id="card-container">
  <div class="card">
    <h5 class="card-header">{{restaurant.name}}
      <span *ngIf="restaurant.partner" class="badge badge-pill badge-info">Partenaire</span>
      <span *ngIf="restaurant.sponsored" class="badge badge-pill badge-warning">Sponsorisé</span>
    </h5>
    <div class="card-body">
      <img src="../../../assets/images/placeholder_square_200.png" alt="" class="restaurant-image">
      <img src="../../../assets/images/placeholder_square_200.png" alt="" class="restaurant-image">
      <p class="card-text">{{restaurant.description}}</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/order', restaurant.id]">Voir la carte</button>

    </div>
    <div class="card-footer">
      <span>Temps de livraison : ~{{restaurant.delivery}}</span>
      <span>Minimum de commande : {{restaurant.minAmount}}</span>
      <span>Avis : {{restaurant.reviews}}/5</span>
    </div>
  </div>
</div>