<form [formGroup]="settingAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="last-name" formControlName="lastName" placeholder="Nom">
            </div>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="first-name" formControlName="firstName" placeholder="Prénom">
            </div>
        </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="user-name" formControlName="username" placeholder="Identifiant de connexion">
            </div>
        </div>
    </div>
    
    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
              </div>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Mot de passe">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 mx-auto">    
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Addresse email">
              </div>
          </div>
      </div>
    
    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Numéro de téléphone">
            </div>
        </div>
    </div>

    <fieldset class="form-group row">
      <div class="col-sm-10 mx-auto">
          <legend class="col-form-label">Préférences de notification</legend>
  
          <div class="form-check ml-5">
            <input class="form-check-input" type="checkbox" name="notificationPreferenceEmail" formControlName="notificationPreferenceEmail" id="notification-preference-email" value="option1" checked>
            <label class="form-check-label" for="notification-preference-email">
              E-mail
            </label>
          </div>
          <div class="form-check ml-5">
            <input class="form-check-input" type="checkbox" name="notificationPreferenceSms" formControlName="notificationPreferenceSms" id="notification-preference-sms" value="option2">
            <label class="form-check-label" for="notification-preference-sms">
              Texto
            </label>
          </div>
          <div class="form-check ml-5">
            <input class="form-check-input" type="checkbox" name="notificationPreferencePush" formControlName="notificationPreferencePush" id="notification-preference-push" value="option3">
            <label class="form-check-label" for="notification-preference-push">
              Notification windows
            </label>
          </div>
      </div>
    </fieldset>
    
    <div class="form-group row">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="secret_question" formControlName="secretQuestion" placeholder="Question secrète ?">
            </div>
        </div>
    </div>
    
    <div class="form-group row mb-20">
      <div class="col-sm-10 mx-auto">    
          <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-registered" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" id="secret_answer" formControlName="secretAnswer" placeholder="Réponse secrète">
            </div>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 text-right">
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </div>
</form>