<div id="list-container" class="container">
  <div class="row">
    <legend>Trier par :</legend>
    <div class="col-12">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trier par
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Alphabetique</a>
          <a class="dropdown-item" href="#">Temps de livraison</a>
          <a class="dropdown-item" href="#">Note</a>
          <a class="dropdown-item" href="#">Minimum montant</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <legend>Spécialités :</legend>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value=""  >
        <label class="form-check-label" >
          Partenaire sponsorisé
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" >
          Indien
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" >
          Italien
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" >
        <label class="form-check-label" >
          Asiatique
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value=""  >
        <label class="form-check-label" >
          Francais
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value=""  >
        <label class="form-check-label" >
          Autre
        </label>
      </div>
    </div>
  </div>

</div>
